* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {

    display: flex;
    align-items: center;
    background-color: black;
    min-height: 60px;

}

nav .logo {

    display: inline-block;
    margin-left: 1rem;
}


/* initial değerler */
nav ul {

    flex: 1;
    display: flex;
    list-style-type: none;
    transition: 0.3s;
}


nav ul.responsiveMode {

   
    left: 0%;

}




nav ul li {

    padding: 8px;
}


nav .menu {


    display: none;
    margin-right: 1rem;

}


nav .menu button {

    padding: 5px;
    cursor: pointer;
}





/* queries */
@media screen and (max-width:700px) {


    nav ul {
        position: fixed;
        top: 10%;
        left: -100%;
        flex-direction: column;
        width: 100%;
        background-color: inherit;
    }

    .menu {

        display: block !important;
        margin-left: auto;
    }
    
}