$cizgiRengi: #dfdfdf;
$kutuYukseklik: 50%;
$kutuRengi: #bebaba;

// vanilla css
// vanilla javascript pure javascript

.profile-container {

    width: $kutuYukseklik;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid #dfdfdf;
    background-color: $kutuRengi;

    .profile-avatar {
        width: 30%;

        img {
            width: 100%;
        }
    }


    .about {

        padding: 1rem;

        .social {

            text-align: center;
        }
    }

}




.status {

    width: $kutuYukseklik;
    margin: auto;
    background-color: $kutuRengi;
}