* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.site-container {

    margin-top: 1rem;
}
.w-50 {

    width: 50%;
    margin-left: 1rem;
}

.form-element {

    margin-bottom: 8px;
}

.form-element input {

    margin-top: 5px;
    padding: 5px;
}

form {

    margin-top: 1rem;
}

form button {

    padding: 5px;
}


#error {

    margin-bottom: 1rem;
    color: red;
}