/* EXTERNAL CSS */
.blog p {

    letter-spacing: 0.6px;
    font-size: 19px;
    line-height: 30px;
    
}

.wallpager {

    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
}


.logo {

    background-image: url("https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



.profil-container {

    width: 30%;
    text-align: center;
}



.profil-container ul {

    list-style-type: none;
}


.image-container img {

    width: 100%;
}