#site-nav {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

img.feed-image {

    max-height: 400px;
}


.col-12, .col-12 .card {

    margin-bottom: 2rem;
}



img.side-feed {

    height: 140px;
    object-fit: cover;
}






/* media queries */

@media screen and (max-width: 768px) {

    .categories {

        order: 3;
    }


    img.side-feed {

        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        height: auto;
        max-height: 457px;
    }
    
    .content-title {

        text-align: center;
    }


    .popular {

        order: -1;
    }
}